header {
  @include width-margin-lg;
  // navbar
  nav {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid lightgrey;
    padding: 20px 0;
    align-items: center;
    .nav-bar {
      display: flex;
      align-items: center;
      li {
        list-style: none;
        display: inline-block;
        padding: 0 18px;
        .btn-white {
          @include standard-btn;
          color: $mainBtnColor;
          svg {
            font-size: 17px;
          }
        }
        a {
          font-weight: 700;
          color: $mainTxtColor;
        }
      }
    }
  }
  .main-header {
    padding: 100px 0;
    width: 100%;
    display: flex;
    color: $mainTxtColor;
    .header-text {
      width: 48%;
      padding-right: 10px;
      h2 {
        font-size: 50px;
        line-height: 80px;
        margin-bottom: 20px;
      }
      p {
        font-size: 25px;
        line-height: 38px;
      }
      .btn-blue {
        @include standard-btn;
        margin: 20px 0;
        background-color: $mainBtnColor;
        color: white;
        font-size: 16px;
      }
      span {
        margin: 0 20px;
        color: lightgrey;
      }
      a {
        color: $mainTxtColor;
      }
    }
    .header-img {
      width: 52%;
      img {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  header {
    @include widh-margin-md;
    .main-header {
      width: 100%;
      flex-direction: column;
      text-align: center;
      align-items: center;
      .header-text {
        width: 700px;
        padding-right: 0;
      }
      .header-img {
        width: 100%;
        img {
          width: 570px;
          margin-top: 10px;
        }
      }
    }
  }
}

@media screen and (max-width: 770px) {
  header {
    width: 100%;
    nav {
      padding: 15px 20px;
      li a {
        display: none;
      }
      .nav-bar {
        a.no-display {
          display: inline-block;
          font-size: 25px;
          color: $mainTxtColor;
        }
      }
    }
    .main-header .header-text {
      width: 100%;
    }
    .main-header .header-img img {
      width: 100%;
    }
  }
}
