@mixin width-margin-lg {
  width: 1150px;
  margin: auto;
}

@mixin widh-margin-md {
  width: 95%;
  margin: auto;
}

@mixin standard-btn {
  border: 1px solid $mainBtnColor;
  padding: 10px 15px;
  border-radius: 8px;
  display: inline-block;
}
